.fi-theme-switcher {
    @apply -m-1 gap-0;
}

.fi-theme-switcher-btn {
    @apply rounded-none;
}

.fi-theme-switcher-btn.fi-active {
    @apply bg-primary-400 dark:bg-primary-600 shadow-sm;
}

.fi-theme-switcher-btn.fi-active .fi-icon {
    @apply text-gray-900/75 dark:text-white;
}
