.fi-header-heading {
    @apply relative inline-block z-0;
    @apply after:content-[''] after:absolute after:-z-10 after:-left-1 after:-right-1 after:bottom-1 after:rounded-full after:bg-primary-500/75 dark:after:bg-primary-600/75 after:h-1.5;
}

.fi-body {
    @apply bg-white dark:bg-gray-800
}

.fi-simple-main-ctn {
    @apply bg-gray-100 dark:bg-gray-900
}

.fi-simple-main {
    @apply ring-0 shadow-none bg-gray-50 dark:bg-gray-800 rounded-xl p-6 border border-gray-300 dark:border-gray-700 relative;
}

.fi-simple-page-content {
    @apply relative z-10
}

.fi-main-ctn {
    @apply bg-gray-100 dark:bg-gray-900 h-[calc(100vh-4rem)] border-s border-t lg:rounded-ss-4xl border-gray-300 dark:border-gray-700 overflow-y-auto grid grid-rows-[auto_auto] justify-between;
}

.fi-body.fi-body-has-sidebar-fully-collapsible-on-desktop .fi-main-ctn:not(.fi-main-ctn-sidebar-open) {
    @apply rounded-ss-none;
}

.fi-body:not(.fi-body-has-topbar) .fi-main-ctn,
.fi-body.fi-body-has-top-navigation .fi-main-ctn {
    @apply rounded-ss-none;
}

.fi-main {
    @apply block min-h-auto h-auto;
}
