.fi-btn {
    @apply rounded-full px-4 shadow-sm;
}

div.fi-fo-toggle-buttons-btn-ctn > input:checked + label {
    @apply text-(--text) dark:text-(--dark-text) bg-(--bg);
}

div.fi-fo-toggle-buttons-btn-ctn > input:checked + label,
div.fi-fo-toggle-buttons-btn-ctn > input:checked + label > .fi-icon {
    @apply text-(--text) dark:text-(--dark-text);
}

.fi-btn.fi-color-primary:is([class*="fi-bg-color-"]) {
    --bg: var(--color-600) !important;
    --text: white !important;
}

.fi-btn.fi-color-primary:hover:is([class*="fi-bg-color-"]) {
    --hover-bg: var(--color-500) !important;
    --hover-text: white !important;
}
